html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #f0f0f0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #000;
}

.container {
  margin: 0 auto;
  width: 100%;
}

@media only screen and (min-width: 680px) {
  .container {
    width: 640px;
  }
}

.nav {
  display: flow-root;
  overflow: hidden;
  padding: 24px 0;
}

.feed {
}

.feed__item {
  margin-bottom: 24px;
}

.entry {
  position: relative;
  padding: 24px;
  background-color: #fff;
}

.entry__header {
  display: flow-root;
  overflow: hidden;
}

.link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #d2dfe8;
  border-radius: 999px;
  text-decoration: none;
  color: #08c;
}

.link:hover {
  background-color: #bdd7e8;
}

.link--danger {
  background-color: #e8d2d2;
  color: #c00;
}

.link--danger:hover {
  background-color: #e8c3bd;
}

.floated-right {
  float: right;
}

.entry__read-link {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.entry__delete-link {
  position: relative;
  z-index: 2;
}
